# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
USER=johndoe
PASSWORD=randompassword
JWT_ACCESS_SECRET=149c959e32364abcfe76f5b944e903fd87387b50bfb3ae3cac15dbcbbefd2db7
JWT_REFRESH_SECRET=54294bb39e003872b074f6fcb9ba8f8251b8a15ce61f2f2b1e8ee38282a7af1f
EXPIRATION_TIME=1h
