<div class="container mx-auto py-2">
    <table class="table-fixed border-separate border-spacing-2 border border-slate-400">
      <thead>
        <tr class="text">
          <th class="border-spacing-1">id</th>
          <th class="border-spacing-1">name</th>
          <th class="border-spacing-1">responsibility</th>
          <th class="border-spacing-1">qualification</th>
          <th class="border-spacing-1">salary</th>
          <th class="border-spacing-1">habitats</th>
          <th class="border-spacing-1">
            <button type="button" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              routerLink="/admin/createZookeeper">
              create
            </button>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let zookeeper of zookeepers">
        <tr class="text">
          <td class="border-spacing-1">{{ zookeeper.id }}</td>
          <td class="border-spacing-1">{{ zookeeper.name }}</td>
          <td class="border-spacing-1">{{ zookeeper.responsibility }}</td>
          <td class="border-spacing-1">{{ zookeeper.qualification }}</td>
          <td class="border-spacing-1">{{ zookeeper.salary }}</td>
          <td class="border-spacing-1">{{ zookeeper.habitats }}</td>
          <td>
            <button type="button" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              routerLink="/admin/zookeepers/{{zookeeper.id}}">
              Edit
            </button>
          </td>
          <td>
            <button type="button" class="btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="delete(zookeeper.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  